@import '_variables';
@import '_mixins';
@import '_animations';
@import '_widgets';


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Mulish', sans-serif;
}

a {
    width: 100%;
    text-decoration: none;
}

img {
    width: 100%;
}